
<div class=" max-w-60 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 relative h-full">
    <div class="relative">
        <a href="#">
          <img class="rounded-t-lg" src="https://images.unsplash.com/photo-1564013799919-ab600027ffc6" alt="house" />
        </a>
       <div class="absolute top-0 pt-2 pl-2 w-full  flex justify-between ">
            <h3 class="bg-green-500 py-1 px-2 rounded-sm text-white text-[10px]">FEATURED</h3>
            <div class=" bg-black bg-opacity-40 pt-1 px-1 mr-2 rounded-sm hover:bg-opacity-60 cursor-pointer">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#fff" class="size-4">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z" />
                    </svg>
            </div>
    </div>
    <div class="absolute bottom-0 left-1 ml-2 mb-2 bg-white rounded-sm">
        <h2 class=" text-xs font-medium p-1">VILLA</h2>
    </div>
     </div>
    <div class="pt-3 pl-3">
       <h2 class="font-bold text-black text-sm">Sunset Height Estate</h2>
       <div class=" flex items-center pt-2">
            <div class="mr-1">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="rgb(107 114 128)" class="size-4">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1 1 15 0Z" />
                </svg>
            </div>
            <h2 class="font-semibold text-[10px] text-gray-500">10 Oakland Lane, Chicago, IL</h2>
       </div>
       <div class="flex pt-3">
            <div class="flex items-center">
                <div class="mr-1">
                    <svg class="size-5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path fill-rule="evenodd" clip-rule="evenodd" d="M3 4C3 3.44772 2.55228 3 2 3C1.44772 3 1 3.44772 1 4V14V17V20C1 20.5523 1.44772 21 2 21C2.55228 21 3 20.5523 3 20V18H21V20C21 20.5523 21.4477 21 22 21C22.5523 21 23 20.5523 23 20V17V14V11C23 8.23858 20.7614 6 18 6H12C11.4477 6 11 6.44772 11 7V9.5C11 7.567 9.433 6 7.5 6C5.567 6 4 7.567 4 9.5C4 11.433 5.567 13 7.5 13H3V4ZM7.5 13C9.433 13 11 11.433 11 9.5V13H7.5ZM21 15V16H3V15H12H21ZM21 11V13H13V8H18C19.6569 8 21 9.34315 21 11ZM6 9.5C6 8.67157 6.67157 8 7.5 8C8.32843 8 9 8.67157 9 9.5C9 10.3284 8.32843 11 7.5 11C6.67157 11 6 10.3284 6 9.5Z" fill="#cfcfcf"></path> </g></svg>
                </div>
                <h2 class="font-bold text-[11px]">2</h2>
            </div>
             <div class="flex items-center ml-4">
                <div class="mr-1 pb-1">
                    <svg fill="#cfcfcf" class="size-5" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <g> <path d="M57.122,266.167V68.137c0-17.601,14.319-31.921,31.921-31.921c15.019,0,27.64,10.429,31.024,24.423 c-13.723,8.525-24.149,21.291-29.759,36.708c-6.625,18.202-5.766,37.892,2.421,55.446l7.056,15.133l131.438-61.291l-7.056-15.132 c-8.185-17.554-22.718-30.87-40.919-37.495c-10.243-3.73-20.96-5.087-31.5-4.102c-7.912-27.166-33.017-47.082-62.704-47.082 c-36.014,0-65.312,29.299-65.312,65.312v198.029H0v33.391h24.168c1.83,34.981,9.574,63.856,23.549,87.873 c12.414,21.335,29.568,38.088,50.985,49.794c4.843,2.647,9.921,5.028,15.209,7.16l-31.218,46.052l27.639,18.737l37.421-55.201 c12.927,2.334,26.759,3.526,41.465,3.526h133.565c14.707,0,28.538-1.192,41.465-3.526l37.421,55.201l27.639-18.737l-31.218-46.052 c5.289-2.133,10.366-4.512,15.209-7.16c21.417-11.707,38.571-28.459,50.985-49.794c13.974-24.016,21.719-52.892,23.549-87.873H512 v-33.391H57.122z M141.914,86.693c5.26-2.453,10.876-3.688,16.51-3.688c4.512,0.001,9.038,0.792,13.404,2.381 c4.304,1.566,8.228,3.827,11.649,6.668l-64.172,29.925c0.022-4.449,0.813-8.908,2.38-13.212 C125.259,98.949,132.443,91.11,141.914,86.693z M435.423,370.637c-20.646,35.481-58.543,53.471-112.64,53.471H189.217 c-54.097,0-91.994-17.99-112.64-53.471c-11.027-18.951-17.262-42.332-18.96-71.079h396.766 C452.685,328.305,446.45,351.686,435.423,370.637z"></path> </g> </g> </g></svg>
                </div>
                <h2 class="font-bold text-[11px]">2</h2>
            </div>

             <div class="flex items-center ml-4">
                <div class="mr-1">
                    <svg class="size-5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M5.63604 14.1238L7.05026 15.538M8.46447 11.2953L9.87868 12.7096M11.2929 8.46691L12.7071 9.88113M14.1213 5.63849L15.5355 7.0527M2.80762 16.9522L7.05026 21.1948L21.1924 7.0527L16.9498 2.81006L2.80762 16.9522Z" stroke="#cfcfcf" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
                </div>
                <h2 class="font-bold text-[11px]">600 SqFT</h2>
            </div>
       </div>
    </div>
    <hr class="h-px my-2 bg-gray-200 border-0 dark:bg-gray-700">
    <div class="flex px-3 my-2 justify-between">
        <h2 class="text-[10px] font-semibold">Cephas Tokoli</h2>
        <div class="flex">
            <h2 class="font-bold text-[10px]">$25,000</h2>
            <span class="text-[9px]">/month</span>
        </div>
    </div>
</div>
