<div>
  <div class="max-w-screen-xl m-auto px-4 pt-15 mt-14 flex flex-col items-center">
    <h2 class="text-red-600 uppercase text-xs font-bold">
      Featured Properties
    </h2>
    <h2 class="text-3xl font-bold text-center pt-2 pb-8">Discover Homeya's Finest Properties <br> For your Dream Home</h2>
    <div class="pt-15 mt-15">
      <%= render partial: 'card' %>
    </div>
  </div>
</div>