<div class="bg-gray-100 my-12">
  <div class="max-w-screen-lg m-auto">
    <div class="flex justify-between items-center py-12">
      <div>
       <div class="max-w-80">
         <h2 class="text-red-600 ">WHY CHOOSE US</h2>
         <h1 class="text-3xl">Discover What Sets Our Real Estate Expertise Apart </h1>
       </div>
      </div>
      <div class=" ">
        <div class="card mt-1">
          <div class=" max-w-80 flex items-center py-5 px-4 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <div class=" mr-5 pr">
              <%= image_tag 'buy.png', class: '', width: '120',  height: '120'  %>
            </div>
            <div>
              <h2 class=" text-sm font-semibold pb-2"> Buy A New Home</h2>
              <p class="text-[11px] font-medium text-gray-500">
                Explore diverse Properties and expert guidance for a seamless buying experience.
              </p>
            </div>
          </div>
      </div>
        <div class="card my-3">
          <div class=" max-w-80 flex items-center py-5 px-4 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <div class=" mr-5 pr">
              <%= image_tag 'house_rent.png', class: '', width: '120',  height: '120'  %>
            </div>
            <div>
              <h2 class=" text-sm font-semibold pb-2"> Rent A Home</h2>
              <p class="text-[11px] font-medium text-gray-500">
                Explore a diverse variety of listings tailored precisely to suit your unique lifestyle needs.
              </p>
            </div>
          </div>
        </div>

        <div class="card">
          <div class=" max-w-80 flex items-center py-5 px-4 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <div class=" mr-5 pr">
              <%= image_tag 'house_sale.png', class: '', width: '110',  height: '110'  %>
            </div>
            <div>
              <h2 class=" text-sm font-semibold pb-2"> Sale A Home</h2>
              <p class="text-[11px] font-medium text-gray-500">
                Showcasing your Property's best features for a successful sale.
              </p>
            </div>
          </div>
        </div>
      </div>
  </div>

  </div>
</div>